<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular Into</title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>
<div ng-app="" data-ng-init="income=0">
    <p>Income: <input type="number" ng-model="rate"></p>
    <select ng-model="hours">
        <option value=4>Weekly</option>
        <option value=2>Bi Weekly</option>
        <option value=1>Monthly</option>
    </select>
    <p>Monthly Income: <span>{{hours * rate}}</span></p>


    <p>Income: <input type="number" ng-model="income"></p>

    <p ng-bind="income"></p>

    <p>The First Name is <span ng-bind="firstName"></span></p>

    <p>First Name: <input type="text" ng-model="first"></p>
    <p>Middle Name: <input type="text" ng-model="middle"></p>
    <p>Last Name: <input type="text" ng-model="last"></p>
    <p>Your Favorite Color <input type="color" ng-model="favcolor"></p>
    <p>Your Favorite number <input type="number" ng-model="favnum"></p>


    <p>{{favcolor}}</p>
    <p>Your full name is <span style="color:{{favcolor}}; font-size:{{favnum}}px">{{ first + ' ' + middle + ' ' + last }}</span></p>
</div>


</body>
</html>